<div class="form-group">
    <label for="carModel">Car Model</label>
    <input type="text" id="carModel" [(ngModel)]="newCar.carModel" class="form-control">
  </div>
  <div class="form-group">
    <label for="carBrand">Car Brand</label>
    <input type="text" id="carBrand" [(ngModel)]="newCar.carBrand" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" id="price" [(ngModel)]="newCar.price" class="form-control">
  </div>
  <div class="form-group">
    <label for="familyGroup">Family Group</label>
    <select id="familyGroup" [(ngModel)]="newCar.familyGroup.id" class="form-control">
      <option *ngFor="let fg of FGs" [value]="fg.id">{{ fg.group_Name }}</option>
    </select>
  </div>
  <button type="button" (click)="UpdateCar()" class="btn btn-primary">Update Car</button>
  